.app{
    height: 100vh;
    background-color:#020230;
    display: flex;
    color: white;
}

.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;
    
}

.top{
 height: 50%;
 position: relative;
}

.timer{
 width: 70px;
 height: 70px;
 border-radius: 50%;
 border: 5px solid white;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 30px;
 font-weight: 700;
 position: absolute;
 bottom: 10px;
 left: 80px;
}
.bottom{
    height: 50%;

}

.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124,#22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 20px 10px;
    cursor: pointer;
    
}

.answer:hover,
.answer.active {
    background: mediumblue;
}

.answer.correct{
    animation: correct 3s ease forwards;

}

@keyframes correct {
    0%, 22%, 42%{
        background: mediumblue;
    }
    20%, 40%, 60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    62%,100%{
        background: green;
    }

}
.answer.wrong{
    animation: wrong 3s ease forwards;

}

@keyframes wrong {
    0%, 22%, 42%{
        background: mediumblue;
    }
    20%, 40%, 60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    62%,100%{
        background: crimson;
    }

}
.pyramid{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.question{
    width: 80%;
    background: linear-gradient(#14015a,black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.moneyList{
    list-style: none;
    width: 100%;
    padding: 10px;
}

.moneyListItem{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.moneyListItem.active{
    background-color: teal;
}

.moneyListItemNumber{
    font-size: 18px;
    font-weight: 100;
    width: 30%;

}

.moneyListItemAmount{
    font-size: 20px;
    font-weight: 300;
}

.endText{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bolder;
    font-size: 40px;
}

.start{
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-around;
    gap: 10px;

}

.welcome {
    color: #fffdfd;
    padding: 10px;
    background-color: #0e0124cc;
    width: max-content;
    position: fixed;
    top: 0;
    right: 25%;
    margin: 10px;
    font-size: 30px;
    font-weight: 800;
  }
  
  
  
.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.startInput{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;

}

.startInput:focus{
    outline: none;
}

.startButton{
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .timer {
        width: 40px;
        height: 40px;
        font-size: 20px;
        position: absolute;
        bottom: 150px;
        left: 20px;
        border: 5px solid rgb(246, 246, 246)
    }

    .main {
        width: 100%; 
    }

    .start {
        width: 80%;
    }

    .welcome{
        font-size: 15px;
    }
    .answers{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .answer{
        max-width: 100px;
        padding: 10px;
        text-align: center;
        background: linear-gradient(#0e0124,#22074d);
        border: 1px solid white;
        border-radius: 15px;
        font-size: 20px;
        font-weight: 300;
        margin: 0 10px 12px 1px;
        cursor: pointer;
        
    }
    .trivia{
        display: flex;
        gap: 20px;
    }
    .pyramid{
        width: 27%; /* Adjust the width to fit better on smaller screens */
        max-width: 150px; /* Set a maximum width if needed */
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .moneyList{
        list-style: none;
        width: 200px;
    
    }
    
    .moneyListItem{
        display: flex;
        align-items: center;
        padding: 5px;
        border: none;
    
    }

    .moneyListItemNumber{
        font-size: 15px;
        font-weight: 100;
        width: 30%;
    
    }
    
    .moneyListItemAmount{
        font-size: 10px;
        font-weight: 300;
    }

    .endText{
        font-size: 25px;
    }

    
  }